@import 'token/mixins/flex';

:host {
  position: relative;
  @include d-flex-vh;

  &:hover .tooltip {
    visibility: visible;
  }
}

.tooltip {
  top: -28px;
}

.rating-value {
  overflow: hidden;
  color: var(--palette-warning-main);
  font-size: var(--text-sm);
  padding: 5px 0 0 5px;
}

.stars {
  overflow: hidden;
  position: relative;
}

.star {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 24px;
  color: var(--palette-warning-main);
}

.star-full {
  color: var(--palette-warning-main);
}

.star-half {
  color: var(--palette-text-secondary);

  &:before {
    position: absolute;
    overflow: hidden;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50%;
    content: '★';
    color: var(--palette-warning-main);
  }
}

.star-empty {
  color: var(--palette-text-secondary);
}

.tooltip {
  position: absolute;

  visibility: hidden;
  width: max-content;
  font-size: var(--text-sm);
  background-color: var(--palette-primary-light);
  color: var(--palette-primary-contrast-text);
  text-align: center;
  border-radius: var(--theme-borderRadius-sm);
  padding: 1rem;
  z-index: var(--theme-tooptip-zIndex);
  transition: visibility var(--theme-anim-duration-short)
    var(--theme-anim-easing-easeOut);
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--palette-primary-light) transparent transparent transparent;
}
